.header-container {
    max-width: 1140px;
    margin: auto;
}

.accessibility-container {
    display: flex;
    justify-content: space-around;
    background-color: #e2f7ff;
    padding: 10px 0;

    div {
        display: flex;
        align-items: center;
        p {
            margin: 0;
        }
    }
    .list-inline {
        margin: auto 0;

        .list-inline-item {
            p {
                margin-bottom: 0;
            }
            a {
                color: #236587;
            }
        }
    }
}

.mid-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    .logo-search {
        display: flex;
        width: 825px;

        .brand-area {
            display: flex;
            width: 40%;
            .img-box {
                width: 19%;
                display: flex;
            }

            .brand-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: Raleway;
                padding-left: 5px;
                p {
                    margin: 0;
                    color: #fff;
                }
                p:nth-child(1) {
                    font-size: 2.4rem;
                }
                p:nth-child(2) {
                    font-size: 1rem;
                }
            }
        }

        .search-area {
            margin: auto;
            margin-left: 45px;

            .search-container {
                background-color: #69bddd;
                border: 2px solid #fff;
                border-radius: 30px;
                padding: 10px 20px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

                form {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 0 15px;

                    .search-bar {
                        padding: 5px;
                        width: 235px;
                        border: none;
                        background: transparent;
                        font-size: 0.8rem;
                    }
                    ::placeholder {
                        color: #fff;
                        opacity: 0.7;
                        font-size: 0.8rem;
                    }
                }

                p {
                    color: #fff;
                    opacity: 0.7;
                    margin-bottom: 0;
                }

                .category-bar {
                    padding: 5px;
                    width: 140px;
                    background: transparent;
                    border: none;
                    font-size: 0.8rem;
                    color: #fff;
                    opacity: 0.7;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: '';
                    text-align: center;
                    padding: 0 10px;
                    option {
                        color: black;
                    }

                }

                .loupe-box {

                    button {
                        background: transparent;
                        border: none;
                        i {
                            color: #fff;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

.user-area {
    margin: auto 0;
    display: flex;

    .user-box {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
        i {
            margin: auto;
            color: #fff;
            font-size: 1.8rem;
        }
        a {
            color: #fff;
            font-size: 14px;
            text-align: center;
        }
    }
}

.nav-area {
    background-color: #e2f7ff;

    .nav-bar {
        display: flex;
        justify-content: space-around;

        .menu-box {
            margin: auto;
            padding: 10px 0;
            width: 23%;
            text-align: center;
            i {
                color: #236587;
            }
            a {
                color: #236587;
                text-decoration: none!important;
            }
        }
    }
}