// ****SASS****
// - import
// - variable
// - mixin
// *********************ALL*************************
* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: Open Sans, Open Serif;
    font-size: 1.1rem;
    line-height: 2.0rem;
}

header {
    width: 100%;
    background-image: url('../img/header.jpg');
    background-size: cover;
}

a {
    text-decoration: none;
}

// *********************MAIN*************************
.main-container {
    max-width: 1140px;
    margin: auto;
    background-color: #fff;

    .entete {
        padding: 12px;
        display: flex;
        a,
        i {
            margin: 0 3px;
            font-size: 15px;
            color: #236587;
            text-decoration: underline;
        }
        p {
            margin: 0 3px;
            font-size: 15px;
        }
    }

    .product-header {
        margin: 45px 15px;

        h1 {
            font-size: 2.4rem;
            margin: 0;
        }

        .idlink-container {
            padding-top: 20px;
            a {
                margin-right: 25px;
                font-size: 15px;
                color: #236587;
                text-decoration: underline;
            }
        }
    }
}

.tags {
    margin-left: 3%;
}

.tags a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 16px 8px 0;
    padding: 0 10px 0 12px;
    background: #eee;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #555;
    font-size: 14px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.tags a:before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #eee transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.tags a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
}


.product-bloc {
    display: flex;

    .img-area {
        display: flex;
        flex-direction: column;
        .carousel {
            margin: 15px;
        }

        .all-img-container {
            text-align: center;
            .all-img {
                display: flex;
                justify-content: center;
                .img-screen {
                    width: 50px;
                    height: auto;
                    margin: 10px;
                }
            }
        }
    }

    .product-description {
        width: 135%;
        margin: 20px;

        .marque-bloc {
            display: flex;
            .img-box {
                width: 15%;
                .logo-aoc {
                    width: 85%;
                }
            }
        }

        .buy-bloc {
            display: flex;
            flex-direction: column;
            .price-area {
                display: flex;
                justify-content: space-between;
                background: #eee;
                .price-text {
                    text-align: center;
                    color: #545454;
                    margin: auto;
                    p:nth-child(1) {
                        font-size: 2.4rem;
                        margin: 0;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                    p:nth-child(2) {
                        font-size: 14px;
                        margin: 0;
                        margin-top: 15px;
                    }
                }
                .button-bloc {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 15px;
                    .add-button1 {
                        height: 60px;
                        width: 230px;
                        border: none;
                        background-color: #236587;
                        color: #fff;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .add-button2 {
                        height: 50px;
                        width: 230px;
                        border: none;
                        background-color: #fff;
                        color: #236587;
                        font-size: 15px;
                        font-weight: bold;
                    }
                }
            }
            .garanty-bloc {
                background: #d6d6d6;
                text-align: center;
                p {
                    margin: 20px auto;
                }
            }
        }

        .description-area {
            margin-top: 20px;
            font-size: 15px;
            line-height: 24px;
        }
    }
}

.product-descriptif {
    .line-bloc {
        margin-top: 25px;
        .h2size {
            font-size: 1.6rem;
        }
    }

    .article1 {
        margin-top: 40px;
    }

    .descriptif-container {
        margin: 15px;
        display: flex;
        .border-img {
            width: 250%;
            padding: 10px 40px;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        .text-container {
            margin-right: 20px;
            p {
                font-size: 15px;
                line-height: 24px;
            }
        }
        .text-container:nth-child(even) {
            margin-left: 20px;
        }
    }
}

.product-perks {
    margin-top: 25px;
    padding-bottom: 20px;
    .perks-container {
        margin: 15px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            width: 30%;
        }
        table {
            border: 2px solid rgba(0, 0, 0, 0.2);
            width: 67%;
            border-collapse: collapse;
        }
        td {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            width: 50%;
            font-size: 16px;
            padding: 4px;
            color: #555;
        }
    }
    .last-pcontainer {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 960px) {

    //*********HEADER************
    .brand-text{
        text-align: center;
    }
    
    .brand-area {
        flex-direction: column;
        width: initial;
        .img-box {
            width: 100%;
            justify-content: center;
            padding-bottom: 7px;
        }
    }

    .search-area {
        display: none;
    }

    .user-area {

    }

    .nav-bar {
        flex-wrap: wrap;
        .menu-box {
            width: 45%!important;
        }
    } //*********MAIN************
    .entete {
        display: none;
    }

    .product-bloc {
        flex-direction: column;

        .all-img-container {
            p {
                font-size: 14px;
            }
        }
        .product-description {
            width: 95%;
            margin: 25px;
            margin-bottom: 50px;
        }
    }

    .column-reverse{
        flex-direction: column-reverse;
    }

    .column{
        flex-direction: column;
    }

    .border-img{
        width: fit-content;
    }
}
