// ****SASS****
// - import
// - variable
// - mixin 
// }
// *********************ALL*************************
body {
    margin: 0;
    background: #eee;
    font-family: Open Sans, Open Serif;
    font-size: 1.1rem;
    line-height: 2.0rem;
}

header {
    width: 100%;
    background-image: url('../image/header.jpg');
    background-size: cover;
}

a {
    text-decoration: none;
}

.line-bloc {
    display: flex;
    align-items: center;
    width: 100%;
    h2 {
        padding-left: 15px;
        font-size: 2.4rem;
    }
    .dotted-line {
        margin: 0 15px;
        padding-bottom: 10px;
        width: inherit;
        border-top: 8px dotted #eeeeee;
    }
}

// *********************HEADER*************************
.header-container {
    max-width: 1140px;
    margin: auto;
}

.accessibility-container {
    display: flex;
    justify-content: space-around;
    background-color: #e2f7ff;
    padding: 10px 0;

    div {
        display: flex;
        align-items: center;
        p {
            margin: 0;
        }
    }
    .list-inline {
        margin: auto 0;

        .list-inline-item {
            p {
                margin-bottom: 0;
            }
            a {
                color: #236587;
            }
        }
    }
}

.mid-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    .logo-search {
        display: flex;
        width: 80%;

        .brand-area {
            display: flex;
            width: 35%;
            .img-box {
                width: 19%;
                display: flex;
            }

            .brand-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: Raleway;
                padding-left: 5px;
                p {
                    margin: 0;
                    color: #fff;
                }
                p:nth-child(1) {
                    font-size: 2.4rem;
                }
                p:nth-child(2) {
                    font-size: 1rem;
                }
            }
        }

        .search-area {
            margin: auto;
            width: 60%;

            .search-container {
                background-color: #69bddd;
                border: 2px solid #fff;
                border-radius: 30px;
                padding: 10px 20px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

                form {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 0 15px;

                    .search-bar {
                        border: none;
                        background: transparent;
                        width: 47%;
                        font-size: 0.8rem;
                    }
                    ::placeholder {
                        color: #fff;
                        opacity: 0.7;
                        font-size: 0.8rem;
                    }
                }

                p {
                    color: #fff;
                    opacity: 0.7;
                    margin-bottom: 0;
                }

                .category-bar {
                    background: transparent;
                    border: none;
                    font-size: 0.8rem;
                    color: #fff;
                    opacity: 0.7;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: '';
                    width: 30%;
                    padding: 0 10px;
                    option {
                        color: black;
                    }

                }

                .loupe-box {

                    button {
                        background: transparent;
                        border: none;
                        i {
                            color: #fff;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

.user-area {
    margin: auto;
    display: flex;
    width: 25%;

    .user-box {
        display: flex;
        flex-direction: column;
        margin: 0 25px;
        i {
            margin: auto;
            color: #fff;
            font-size: 1.8rem;
        }
        a {
            color: #fff;
            font-size: 14px;
        }
    }
}

.nav-area {
    background-color: #e2f7ff;
    padding: 10px 0;

    .nav-bar {
        display: flex;
        justify-content: space-around;

        div {
            i {
                color: #236587;
            }
            a {
                color: #236587;
            }
        }
    }
}

// *********************MAIN*************************
.main-container {
    max-width: 1140px;
    margin: auto;
    background-color: #fff;

    .entete {
        padding: 12px;
        display: flex;
        a,
        i {
            margin: 0 3px;
            font-size: 15px;
            color: #236587;
            text-decoration: underline;
        }
        p {
            margin: 0 3px;
            font-size: 15px;
        }
    }

    .product-header {
        margin: 45px 15px;

        h1 {
            font-size: 2.4rem;
            margin: 0;
        }

        .idlink-container {
            padding-top: 20px;
            a {
                margin-right: 25px;
                font-size: 15px;
                color: #236587;
                text-decoration: underline;
            }
        }
    }
}

.product-presentation {}

.labels-container {
    display: flex;
    .label-item {
        background: #eee;
        margin: 25px 10px;
        p {
            margin: 0;
        }
    }
}

.product-bloc {
    display: flex;

    .img-area {
        display: flex;
        flex-direction: column;
        .carousel {
            margin: 15px;
        }

        .all-img-container {
            text-align: center;
            .all-img {
                display: flex;
                justify-content: center;
                .img-screen {
                    width: 50px;
                    height: auto;
                    margin: 10px;
                }
            }
        }
    }

    .product-description {
        width: 135%;
        margin: 20px;

        .marque-bloc {
            display: flex;
            .img-box {
                width: 15%;
                .logo-aoc {
                    width: 85%;
                }
            }
        }

        .buy-bloc {
            display: flex;
            flex-direction: column;
            .price-area {
                display: flex;
                justify-content: space-between;
                background: #eee;
                .price-text {
                    text-align: center;
                    color: #545454;
                    margin: auto;
                    p:nth-child(1) {
                        font-size: 2.4rem;
                        margin: 0;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                    p:nth-child(2) {
                        font-size: 14px;
                        margin: 0;
                        margin-top: 15px;
                    }
                }
                .button-bloc {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 15px;
                    .add-button1 {
                        height: 60px;
                        width: 230px;
                        border: none;
                        background-color: #236587;
                        color: #fff;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .add-button2 {
                        height: 50px;
                        width: 230px;
                        border: none;
                        background-color: #fff;
                        color: #236587;
                        font-size: 15px;
                        font-weight: bold;
                    }
                }
            }
            .garanty-bloc {
                background: #d6d6d6;
                text-align: center;
                p {
                    margin: 20px auto;
                }
            }
        }

        .description-area {
            margin-top: 20px;
            font-size: 15px;
            line-height: 24px;
        }
    }
}

.product-descriptif {
    .line-bloc {
        margin-top: 25px;
        .h2size {
            font-size: 1.6rem;
        }
    }

    .article1 {
        margin-top: 40px;
    }

    .descriptif-container {
        margin: 15px;
        display: flex;
        .border-img {
            width: 250%;
            padding: 10px 40px;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        .text-container {
            margin-right: 20px;
            p {
                font-size: 15px;
                line-height: 24px;
            }
        }
        .text-container:nth-child(even) {
            margin-left: 20px;
        }
    }
}

.product-perks {
    margin-top: 25px;
    .perks-container {
        margin: 15px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        table {
            border: 1px solid rgba(0, 0, 0, 0.5);
            width: 600px;
            td {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
}
