// ****SASS****
// - import
// - variable
// - mixin
// *********************ALL*************************
* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: Open Sans, Open Serif;
    font-size: 1.1rem;
    line-height: 2.0rem;
}

header {
    width: 100%;
    background-image: url('../image/header.jpg');
    background-size: cover;
}

a {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.line-bloc {
    display: flex;
    align-items: center;
    width: 100%;
    h2 {
        padding-left: 15px;
        font-size: 2.4rem;
    }
    .dotted-line {
        margin: 0 15px;
        padding-bottom: 10px;
        width: inherit;
        border-top: 8px dotted #eeeeee;
    }
}

// *********************HEADER*************************
.header-container {
    max-width: 1140px;
    margin: auto;
}

.accessibility-container {
    display: flex;
    justify-content: space-around;
    background-color: #e2f7ff;
    padding: 10px 0;

    div {
        display: flex;
        align-items: center;
        p {
            margin: 0;
        }
    }
    .list-inline {
        margin: auto 0;

        .list-inline-item {
            p {
                margin-bottom: 0;
            }
            a {
                color: #236587;
            }
        }
    }
}

.mid-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    .logo-search {
        display: flex;
        width: 80%;

        .brand-area {
            display: flex;
            width: 35%;
            .img-box {
                width: 19%;
                display: flex;
            }

            .brand-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: Raleway;
                padding-left: 5px;
                p {
                    margin: 0;
                    color: #fff;
                }
                p:nth-child(1) {
                    font-size: 2.4rem;
                }
                p:nth-child(2) {
                    font-size: 1rem;
                }
            }
        }

        .search-area {
            margin: auto;
            width: 60%;

            .search-container {
                background-color: #69bddd;
                border: 2px solid #fff;
                border-radius: 30px;
                padding: 10px 20px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

                form {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 0 15px;

                    .search-bar {
                        border: none;
                        background: transparent;
                        width: 47%;
                        font-size: 0.8rem;
                    }
                    ::placeholder {
                        color: #fff;
                        opacity: 0.7;
                        font-size: 0.8rem;
                    }
                }

                p {
                    color: #fff;
                    opacity: 0.7;
                    margin-bottom: 0;
                }

                .category-bar {
                    background: transparent;
                    border: none;
                    font-size: 0.8rem;
                    color: #fff;
                    opacity: 0.7;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: '';
                    width: 30%;
                    padding: 0 10px;
                    option {
                        color: black;
                    }

                }

                .loupe-box {

                    button {
                        background: transparent;
                        border: none;
                        i {
                            color: #fff;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

.user-area {
    margin: auto;
    display: flex;
    width: 25%;

    .user-box {
        display: flex;
        flex-direction: column;
        margin: 0 25px;
        i {
            margin: auto;
            color: #fff;
            font-size: 1.8rem;
        }
        a {
            color: #fff;
            font-size: 14px;
        }
    }
}

.nav-area {
    background-color: #e2f7ff;

    .nav-bar {
        display: flex;
        justify-content: space-around;

        .menu-box {
            margin: auto;
            padding: 10px 0;
            width: 23%;
            text-align: center;
            i {
                color: #236587;
            }
            a {
                color: #236587;
                text-decoration: none!important;
            }
        }
    }
}

// .menu-box:hover {
//     background-color: #fff;
//     i:hover {
//         color: black;
//     }
//     a:hover {
//         color: black;
//     }
// }
// *********************MAIN*************************
.main-container {
    max-width: 1140px;
    margin: auto;
    background-color: #fff;

    .entete {
        padding: 12px;
        display: flex;
        a,
        i {
            margin: 0 3px;
            font-size: 15px;
            color: #236587;
            text-decoration: underline;
        }
        p {
            margin: 0 3px;
            font-size: 15px;
        }
    }

    .product-header {
        margin: 45px 15px;

        h1 {
            font-size: 2.4rem;
            margin: 0;
        }

        .idlink-container {
            padding-top: 20px;
            a {
                margin-right: 25px;
                font-size: 15px;
                color: #236587;
                text-decoration: underline;
            }
        }
    }
}

.product-presentation {}

.tags {
    margin-left: 3%;
}

.tags a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 16px 8px 0;
    padding: 0 10px 0 12px;
    background: #eee;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #555;
    font-size: 14px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.tags a:before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #eee transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.tags a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
}


.product-bloc {
    display: flex;

    .img-area {
        display: flex;
        flex-direction: column;
        .carousel {
            margin: 15px;
        }

        .all-img-container {
            text-align: center;
            .all-img {
                display: flex;
                justify-content: center;
                .img-screen {
                    width: 50px;
                    height: auto;
                    margin: 10px;
                }
            }
        }
    }

    .product-description {
        width: 135%;
        margin: 20px;

        .marque-bloc {
            display: flex;
            .img-box {
                width: 15%;
                .logo-aoc {
                    width: 85%;
                }
            }
        }

        .buy-bloc {
            display: flex;
            flex-direction: column;
            .price-area {
                display: flex;
                justify-content: space-between;
                background: #eee;
                .price-text {
                    text-align: center;
                    color: #545454;
                    margin: auto;
                    p:nth-child(1) {
                        font-size: 2.4rem;
                        margin: 0;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                    p:nth-child(2) {
                        font-size: 14px;
                        margin: 0;
                        margin-top: 15px;
                    }
                }
                .button-bloc {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 15px;
                    .add-button1 {
                        height: 60px;
                        width: 230px;
                        border: none;
                        background-color: #236587;
                        color: #fff;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .add-button2 {
                        height: 50px;
                        width: 230px;
                        border: none;
                        background-color: #fff;
                        color: #236587;
                        font-size: 15px;
                        font-weight: bold;
                    }
                }
            }
            .garanty-bloc {
                background: #d6d6d6;
                text-align: center;
                p {
                    margin: 20px auto;
                }
            }
        }

        .description-area {
            margin-top: 20px;
            font-size: 15px;
            line-height: 24px;
        }
    }
}

.product-descriptif {
    .line-bloc {
        margin-top: 25px;
        .h2size {
            font-size: 1.6rem;
        }
    }

    .article1 {
        margin-top: 40px;
    }

    .descriptif-container {
        margin: 15px;
        display: flex;
        .border-img {
            width: 250%;
            padding: 10px 40px;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        .text-container {
            margin-right: 20px;
            p {
                font-size: 15px;
                line-height: 24px;
            }
        }
        .text-container:nth-child(even) {
            margin-left: 20px;
        }
    }
}

.product-perks {
    margin-top: 25px;
    padding-bottom: 20px;
    .perks-container {
        margin: 15px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            width: 30%;
        }
        table {
            border: 2px solid rgba(0, 0, 0, 0.2);
            width: 67%;
            border-collapse: collapse;
        }
        td {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            width: 50%;
            font-size: 16px;
            padding: 4px;
            color: #555;
        }
    }
    .last-pcontainer {
        margin-bottom: 20px;
    }
}

// *********************FOOTER*************************
.footer-bg {
    background-image: url('../image/footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 55%;
    color: #fff;
}

.footer-container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
        color: #fff;
        line-height: 1.7rem;
        text-decoration: underline;
    }
    .footer-grid {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 0px;
        grid-auto-flow: row;
        grid-template-areas: "payment socials" "about about2" "copyright copyright";

        .payment {
            grid-area: payment;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 75%;
                height: auto;
            }
        }
        .socials {
            grid-area: socials;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .logo-container {
                .logo {
                    font-size: 2rem;
                    margin: 10px 15px;
                    cursor: pointer;
                }
                .fb {
                    color: #6c6c6c;
                }
                .insta {
                    color: #646464
                }
                .twit {
                    color: #8b8b8b;
                }
                .linkdn {
                    color: #616161;
                }
                .logo:hover {
                    color: #d33e5b;
                }
            }
        }
        .about {
            grid-area: about;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .about2 {
            grid-area: about2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .copyright {
            padding-top: 65px;
            grid-area: copyright;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 0.9em;
        }
    }
}

.footer-title {
    margin: 20px auto;
    font-size: 2em;
}


@media screen and (max-width: 960px) {

    //*********HEADER************
    .brand-area {
        flex-direction: column;
        .img-box {
            width: initial;
            justify-content: center;
            padding-bottom: 7px;
        }
    }

    .search-area {
        display: none;
    }

    .nav-bar {
        flex-wrap: wrap;
        .menu-box {
            width: 45%!important;
        }
    } //*********MAIN************
    .entete {
        display: none;
    }
}
