* {
  margin: 0;
  padding: 0; }

body {
  background: #eee;
  font-family: Open Sans, Open Serif;
  font-size: 1.1rem;
  line-height: 2.0rem; }

header {
  width: 100%;
  background-image: url("../image/header.jpg");
  background-size: cover; }

a {
  text-decoration: none; }

.underline {
  text-decoration: underline; }

.line-bloc {
  display: flex;
  align-items: center;
  width: 100%; }
  .line-bloc h2 {
    padding-left: 15px;
    font-size: 2.4rem; }
  .line-bloc .dotted-line {
    margin: 0 15px;
    padding-bottom: 10px;
    width: inherit;
    border-top: 8px dotted #eeeeee; }

.header-container {
  max-width: 1140px;
  margin: auto; }

.accessibility-container {
  display: flex;
  justify-content: space-around;
  background-color: #e2f7ff;
  padding: 10px 0; }
  .accessibility-container div {
    display: flex;
    align-items: center; }
    .accessibility-container div p {
      margin: 0; }
  .accessibility-container .list-inline {
    margin: auto 0; }
    .accessibility-container .list-inline .list-inline-item p {
      margin-bottom: 0; }
    .accessibility-container .list-inline .list-inline-item a {
      color: #236587; }

.mid-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0; }
  .mid-header .logo-search {
    display: flex;
    width: 80%; }
    .mid-header .logo-search .brand-area {
      display: flex;
      width: 35%; }
      .mid-header .logo-search .brand-area .img-box {
        width: 19%;
        display: flex; }
      .mid-header .logo-search .brand-area .brand-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: Raleway;
        padding-left: 5px; }
        .mid-header .logo-search .brand-area .brand-text p {
          margin: 0;
          color: #fff; }
        .mid-header .logo-search .brand-area .brand-text p:nth-child(1) {
          font-size: 2.4rem; }
        .mid-header .logo-search .brand-area .brand-text p:nth-child(2) {
          font-size: 1rem; }
    .mid-header .logo-search .search-area {
      margin: auto;
      width: 60%; }
      .mid-header .logo-search .search-area .search-container {
        background-color: #69bddd;
        border: 2px solid #fff;
        border-radius: 30px;
        padding: 10px 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
        .mid-header .logo-search .search-area .search-container form {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 0 15px; }
          .mid-header .logo-search .search-area .search-container form .search-bar {
            border: none;
            background: transparent;
            width: 47%;
            font-size: 0.8rem; }
          .mid-header .logo-search .search-area .search-container form ::placeholder {
            color: #fff;
            opacity: 0.7;
            font-size: 0.8rem; }
        .mid-header .logo-search .search-area .search-container p {
          color: #fff;
          opacity: 0.7;
          margin-bottom: 0; }
        .mid-header .logo-search .search-area .search-container .category-bar {
          background: transparent;
          border: none;
          font-size: 0.8rem;
          color: #fff;
          opacity: 0.7;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: '';
          width: 30%;
          padding: 0 10px; }
          .mid-header .logo-search .search-area .search-container .category-bar option {
            color: black; }
        .mid-header .logo-search .search-area .search-container .loupe-box button {
          background: transparent;
          border: none; }
          .mid-header .logo-search .search-area .search-container .loupe-box button i {
            color: #fff;
            opacity: 0.7; }

.user-area {
  margin: auto;
  display: flex;
  width: 25%; }
  .user-area .user-box {
    display: flex;
    flex-direction: column;
    margin: 0 25px; }
    .user-area .user-box i {
      margin: auto;
      color: #fff;
      font-size: 1.8rem; }
    .user-area .user-box a {
      color: #fff;
      font-size: 14px; }

.nav-area {
  background-color: #e2f7ff;
  padding: 10px 0; }
  .nav-area .nav-bar {
    display: flex;
    justify-content: space-around; }
    .nav-area .nav-bar div i {
      color: #236587; }
    .nav-area .nav-bar div a {
      color: #236587;
      text-decoration: none !important; }

.main-container {
  max-width: 1140px;
  margin: auto;
  background-color: #fff; }
  .main-container .entete {
    padding: 12px;
    display: flex; }
    .main-container .entete a,
    .main-container .entete i {
      margin: 0 3px;
      font-size: 15px;
      color: #236587;
      text-decoration: underline; }
    .main-container .entete p {
      margin: 0 3px;
      font-size: 15px; }
  .main-container .product-header {
    margin: 45px 15px; }
    .main-container .product-header h1 {
      font-size: 2.4rem;
      margin: 0; }
    .main-container .product-header .idlink-container {
      padding-top: 20px; }
      .main-container .product-header .idlink-container a {
        margin-right: 25px;
        font-size: 15px;
        color: #236587;
        text-decoration: underline; }

.tags {
  margin-left: 3%; }

.tags a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  margin: 0 16px 8px 0;
  padding: 0 10px 0 12px;
  background: #eee;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #555;
  font-size: 14px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.tags a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #eee transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0; }

.tags a:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  float: left;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4); }

.product-bloc {
  display: flex; }
  .product-bloc .img-area {
    display: flex;
    flex-direction: column; }
    .product-bloc .img-area .carousel {
      margin: 15px; }
    .product-bloc .img-area .all-img-container {
      text-align: center; }
      .product-bloc .img-area .all-img-container .all-img {
        display: flex;
        justify-content: center; }
        .product-bloc .img-area .all-img-container .all-img .img-screen {
          width: 50px;
          height: auto;
          margin: 10px; }
  .product-bloc .product-description {
    width: 135%;
    margin: 20px; }
    .product-bloc .product-description .marque-bloc {
      display: flex; }
      .product-bloc .product-description .marque-bloc .img-box {
        width: 15%; }
        .product-bloc .product-description .marque-bloc .img-box .logo-aoc {
          width: 85%; }
    .product-bloc .product-description .buy-bloc {
      display: flex;
      flex-direction: column; }
      .product-bloc .product-description .buy-bloc .price-area {
        display: flex;
        justify-content: space-between;
        background: #eee; }
        .product-bloc .product-description .buy-bloc .price-area .price-text {
          text-align: center;
          color: #545454;
          margin: auto; }
          .product-bloc .product-description .buy-bloc .price-area .price-text p:nth-child(1) {
            font-size: 2.4rem;
            margin: 0;
            font-weight: bold;
            margin-top: 10px; }
          .product-bloc .product-description .buy-bloc .price-area .price-text p:nth-child(2) {
            font-size: 14px;
            margin: 0;
            margin-top: 15px; }
        .product-bloc .product-description .buy-bloc .price-area .button-bloc {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 15px; }
          .product-bloc .product-description .buy-bloc .price-area .button-bloc .add-button1 {
            height: 60px;
            width: 230px;
            border: none;
            background-color: #236587;
            color: #fff;
            font-size: 20px;
            font-weight: bold; }
          .product-bloc .product-description .buy-bloc .price-area .button-bloc .add-button2 {
            height: 50px;
            width: 230px;
            border: none;
            background-color: #fff;
            color: #236587;
            font-size: 15px;
            font-weight: bold; }
      .product-bloc .product-description .buy-bloc .garanty-bloc {
        background: #d6d6d6;
        text-align: center; }
        .product-bloc .product-description .buy-bloc .garanty-bloc p {
          margin: 20px auto; }
    .product-bloc .product-description .description-area {
      margin-top: 20px;
      font-size: 15px;
      line-height: 24px; }

.product-descriptif .line-bloc {
  margin-top: 25px; }
  .product-descriptif .line-bloc .h2size {
    font-size: 1.6rem; }
.product-descriptif .article1 {
  margin-top: 40px; }
.product-descriptif .descriptif-container {
  margin: 15px;
  display: flex; }
  .product-descriptif .descriptif-container .border-img {
    width: 250%;
    padding: 10px 40px;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .product-descriptif .descriptif-container .text-container {
    margin-right: 20px; }
    .product-descriptif .descriptif-container .text-container p {
      font-size: 15px;
      line-height: 24px; }
  .product-descriptif .descriptif-container .text-container:nth-child(even) {
    margin-left: 20px; }

.product-perks {
  margin-top: 25px;
  padding-bottom: 20px; }
  .product-perks .perks-container {
    margin: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .product-perks .perks-container h3 {
      width: 30%; }
    .product-perks .perks-container table {
      border: 2px solid rgba(0, 0, 0, 0.2);
      width: 67%;
      border-collapse: collapse; }
    .product-perks .perks-container td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      width: 50%;
      font-size: 16px;
      padding: 4px;
      color: #555; }
  .product-perks .last-pcontainer {
    margin-bottom: 20px; }

.footer-bg {
  background-image: url("../image/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 55%;
  color: #fff; }

.footer-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .footer-container a {
    color: #fff;
    line-height: 1.7rem;
    text-decoration: underline; }
  .footer-container .footer-grid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas: "payment socials" "about about2" "copyright copyright"; }
    .footer-container .footer-grid .payment {
      grid-area: payment;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .footer-container .footer-grid .payment img {
        width: 75%;
        height: auto; }
    .footer-container .footer-grid .socials {
      grid-area: socials;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .footer-container .footer-grid .socials .logo-container .logo {
        font-size: 2rem;
        margin: 10px 15px; }
      .footer-container .footer-grid .socials .logo-container .fb {
        color: #6c6c6c; }
      .footer-container .footer-grid .socials .logo-container .insta {
        color: #646464; }
      .footer-container .footer-grid .socials .logo-container .twit {
        color: #8b8b8b; }
      .footer-container .footer-grid .socials .logo-container .linkdn {
        color: #616161; }
    .footer-container .footer-grid .about {
      grid-area: about;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .footer-container .footer-grid .about2 {
      grid-area: about2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .footer-container .footer-grid .copyright {
      padding-top: 65px;
      grid-area: copyright;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 0.9em; }

.footer-title {
  margin: 20px auto;
  font-size: 2em; }

/*# sourceMappingURL=style.css.map */
